<div class="batch-container d-flex flex-column p-3">
  <div class="row h-100">
    <div class="batch-upper final-upper col-12">
      <!-- <p class="mb-4">Remember:</p> -->
        <h1><strong>Don't</strong> push to master! (or TAs will get mad)</h1>
        <h1>Use good names for your variables (or I will get mad)</h1>
        <h1>Keep coding</h1>
      <h4 class="mt-4"><em>- with lots of love, your batch owner, Julio!</em></h4>

    </div>
    <div class="batch-lower col-12 d-flex flex-column align-items-end justify-content-end">
      <%= image_tag 'lw_logo.png', class: 'lw-logo-lg mb-5' %>
      <h1 class="mb-4"><strong>batch #602 - London</strong></h1>
      <h4>10/Apr/21 - 18/Sep/21</h4>
    </div>

  </div>
</div>
