<div class="big-box">
  <div class="cards-students m-3 p-3">
    <% @students.each do |s| %>
      <div class="card-student">
        <%= image_tag s.avatar_url, class: 'avatar-bordered' %>
          <% colour = ['pippin', 'old_lace', 'black_n_white', 'red'] %>
          <div class="student-name <%= "#{colour.sample}" %>" >
            <p class="m-0"><%= s.name.split[0].capitalize %></p>
          </div>
      </div>
    <% end %>
  </div>
</div>
