<div class="batch-container d-flex align-items-end justify-content-end p-3">
  <div class="row">
    <div class="batch-upper col-12">

    </div>
    <div class="batch-lower col-12 d-flex flex-column align-items-end">
      <%= image_tag 'lw_logo.png', class: 'lw-logo-lg mb-5' %>
      <h1 class="mb-4"><strong>batch #602 - London</strong></h1>
      <h4>10/Apr/21 - 18/Sep/21</h4>
    </div>

  </div>
</div>
